@font-face {
    font-family: netflix;
    src: url("NetflixSans-Regular.woff2");
}

@font-face {
    font-family: h1;
    src: url("NetflixSans-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: netflix;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;

    overflow-x: hidden;

}

#navbar {
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: visible;
    position: fixed;
    transition: 0.5s;
    z-index: 101;

}

#navbarleft {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;


}

#navbarbrowselist {
    color: azure;
    display: flex;
    justify-content: space-around;
    width: 550px;
    height: 100%;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;


}

#navbarbrowselist div {
    transition: 0.4s;
}

#navbarbrowselist div:hover {
    color: rgb(184, 184, 184);
}

#navbarleft img {
    width: 110px;
    height: 67px;
    font-weight: 500;
}

#navbarright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;


}


#navbarright div svg {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#navbarright div img {
    width: 32px;
    height: 31px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.ddarrow {

    fill: rgb(250, 250, 250);
    width: 15px;
    height: 15px;
    transition: 0.4s;
    cursor: pointer;

}

.profile {
    display: flex;

    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    transition: 0.5s;
    cursor: pointer;
}

#searchbar {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    padding: 5px;
    align-items: center;
    width: 32px;
    transition: 0.4s;
    margin-right: 10px;
    background-color: transparent;

}

#input {
    margin-left: 10px;
    border-style: none;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: rgb(207, 207, 207);
    display: none;
    font-size: 15px;
}

#profilescard {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    right: 32px;
    top: 72px;
    height: 350px;
    width: 200px;
    color: white;
    background-color: black;
    font-size: 13px;
    font-weight: 500;
    padding: 15px;
    transition: 0.5s;
    opacity: 0;
    z-index: -99;
}



#profiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 310px;
    cursor: pointer;
}

#profiles div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

#profiles div p {
    margin-left: 7px;

}

.profileicon {
    width: 32px;
    height: 31px;
    border-radius: 5px;
    margin-right: 15px;
}

#profilecard-small-icons {
    width: 24px;
    height: 24px;
}

#signout {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1.5px solid rgb(79, 79, 79);
}

#ddarrow2 {
    fill: rgb(250, 250, 250);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 23px;
    top: -16px;
    transform: rotate(180deg);
}

#meadiaquerybrowse {
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    height: 100%;
    width: 70px;
    display: none;
    cursor: pointer;

}

#meadiaquerybrowse svg {
    fill: aliceblue;
    width: 17px;
    height: 17px;

}

#meadiaquerybrowse p {
    color: white;


}

#meadia-Query-navbarbrowselist {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 50px;
    width: 260px;
    height: 300px;
    background-color: black;
    font-size: 13px;
    border-top: 2px solid white;
    opacity: 0;
    transition: 0.7s;

}

#meadia-Query-navbarbrowselist div {
    padding: 5px 0px;
    color: rgb(199, 199, 199);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

#meadia-Query-navbarbrowselist div:hover {
    background-color: rgb(13, 13, 13);
    font-size: 14px;

}

#meadia-Query-navbarbrowselist-arrow {
    position: absolute;
    top: 0px;
    width: 25px;
    height: 23px;
    fill: rgb(244, 244, 244);
    left: 45%;
    top: -16px;
    transform: rotate(180deg);
}



#allcontainer {
    min-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;

}

#titlepage {
    position: relative;
    max-height: 700px;
    max-width: 100%;
    min-width: 600px;
    object-fit: cover;
    overflow: hidden;

}

#titlepage video {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.5);


}

#titlepage::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(to top, #000000, rgba(255, 255, 255, 0));
}



#titledescription {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    top: 300px;
    left: 50px;
    height: 200px;
    width: 400px;
    transition: 1s ease;

}

#titledescriptionlogo {
    content: "";
    position: absolute;
    left: 0;
    top: -220px;
    width: 650px;
    height: 260px;
    object-fit: fill;
    background-color: transparent;
    transition: 1s ease, width 1s ease, height 1s ease;


}

#logo {
    width: 100%;
    height: 100%;

}

#topten {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    transition: 1s ease;

}

#topten div {
    color: rgb(202, 202, 202);
    font-size: 16px;
    margin-left: 10px;
    transition: 1s ease;

}

#titledescriptiontext {
    color: white;
    font-size: 13px;
    margin-top: 10px;
}

#titledescriptionplay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

#titledescriptionplay div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 42px;

    border-radius: 5px;
    margin-right: 10px;
}

#playbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    padding: 0px 10px;
    z-index: 1;
    max-width: 100px;
}

#playbtn:hover {

    background-color: rgb(228, 228, 228);
    opacity: 0.7;
}

#playbtn svg {
    width: 30px;
    height: 30px;
    z-index: 3;
}

#playbtn div {
    margin-left: 10px;
    z-index: 2;
    font-weight: 700;
}

#moreinfo {
    background-color: rgba(78, 78, 78, 0.5);
    color: rgb(253, 253, 253);
    padding: 0px 10px;
    z-index: 1;
    max-width: 150px;
    opacity: 0.8;
}

#moreinfo:hover {

    background-color: rgba(43, 43, 43, 0.5);

}

#moreinfo svg {
    width: 30px;
    height: 30px;
    z-index: 3;
}

#moreinfo div {
    margin-left: 10px;
    z-index: 2;
    font-weight: 700;
}

#swiper {
    width: 100%;
    height: 1550px;
    background-color: black;
    padding-top: 30px;
    position: relative;




}

.swiperbox {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin-bottom: 70px;
    transition: 1s ease;

}

.swiperboxlayout {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-bottom: 70px;
    position: relative;
    top: -100px;
    transition: 0.4s;
    z-index: 50;
}

.swiperrightsbl1 {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;

    background-color: #00000023;
    right: 50px;
    transition: 0.4s;
    opacity: 0;
    z-index: 51;
    cursor: pointer;
}

.swiperleftsbl1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: #00000023;
    left: 0px;
    transition: 0.4s;
    opacity: 0;
    z-index: 51;
    cursor: pointer;
}

.swiperboxlayout:hover .swiperrightsbl1 {
    opacity: 1;
    display: flex;
}

.swiperrightsbl1 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;

}

.swiperboxlayout:hover .swiperleftsbl1 {
    opacity: 1;
    display: flex;
}

.swiperleftsbl1 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

.swiperbox div {
    position: relative;
    min-width: 231px;
    height: 130px;
    object-fit: contain;
    overflow: visible;
    margin-right: 5px;
    transition: 0.5s ease;
}

.swiperbox div:hover {
    transition: 0.5s ease;
    min-width: 260px;
    height: 148px;
    margin-left: -5px;
    top: -5px;
    margin-right: 0px;
}

.swiperbox div img {
    width: 100%;
    height: 100%;


}

.swipertext {
    position: absolute;
    top: -35px;
    left: 0;
    font-size: 17px;
    font-weight: 500;
    color: rgb(253, 253, 253);
    z-index: 1;
}



.swiperbox2 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-bottom: 70px;
    position: relative;
   

    transition: 0.4s;

}

.swiperboxlayout2 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 0px;
    margin-bottom: 70px;
    position: relative;
    top: -80px;
    transition: 0.4s;

}

.swiperbox2 div {
    position: relative;
    min-width: 231px;
    height: 130px;
    object-fit: contain;
    overflow: hidden;
    margin-right: 5px;
    transition: 0.5s ease;
}

.swiperbox2 div:hover {
    transition: 0.5s ease;
    min-width: 260px;
    height: 148px;
    margin-left: -5px;
    top: -5px;
    margin-right: 0px;
}

.swiperbox2 div img {
    width: 100%;
    height: 100%;


}

.swiperleftsbl2 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

.swiperrightsbl2 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

.swipertext2 {
    position: absolute;
    top: -40px;
    left: 50px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(253, 253, 253);
    z-index: 1;
}

.swiperbox3 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin-bottom: 70px;
    transition: 1s ease;
    z-index: 50;
}

.swiperboxlayout3 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-bottom: 70px;
    position: relative;
    top: -120px;
    transition: 0.4s;
    z-index: 50;
}

.swiperboxlayout3:hover .swiperleftsbl3 {
    opacity: 1;
    display: flex;
}

.swiperboxlayout3:hover .swiperrightsbl3 {
    opacity: 1;
    display: flex;
}

.swiperbox3 div {
    position: relative;
    min-width: 231px;
    height: 130px;
    object-fit: contain;
    overflow: hidden;
    margin-right: 5px;
    transition: 0.5s ease;
}

.swiperbox3 div:hover {
    transition: 0.5s ease;
    min-width: 260px;
    height: 148px;
    margin-left: -5px;
    top: -5px;
    margin-right: 0px;
}

.swiperbox3 img {
    width: 100%;
    height: 100%;


}

.swiperleftsbl3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: #00000023;
    left: 0px;
    transition: 0.4s;
    opacity: 0;
    z-index: 51;
    cursor: pointer;
}

.swiperrightsbl3 {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    z-index: 51;
    background-color: #00000023;
    right: 50px;
    transition: 0.4s;
    opacity: 0;
    cursor: pointer;
}

.swiperleftsbl3 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

.swiperrightsbl3 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

.swiperbox4 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin-top: 15px;
    transition: 1s ease;
    z-index: 50;
}

.swiperboxlayout4 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-bottom: 70px;
    position: relative;
    top: -130px;
    transition: 0.4s;
    z-index: 50;
}

.swiperboxlayout4:hover .swiperleftsbl4 {
    opacity: 1;
    display: flex;
}

.swiperboxlayout4:hover .swiperrightsbl4 {
    opacity: 1;
    display: flex;
}

.swiperbox4 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: 0.5s ease;


}

#imgcontainerswipebox4img1 {
    margin-left: -40px;
}

#top101:hover #imgcontainerswipebox4img1 {
    margin-left: -20px;
}

#top101:hover div {
    transition: 0.5s ease;
    min-width: 120px;
    height: 170px;
    margin-left: -5px;
    top: -5px;
    margin-right: 0px;
}

.swiperbox4 div h1 {
    display: flex;
    align-items: center;
    font-family: h1;
    font-size: 205px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: #353535 4px;
    font-weight: bolder;
    margin-right: 0px;
    z-index: 49;
    padding-bottom: 10px;

}

.imgcontainerswipebox4 {
    width: 110px;
    height: 160px;
    margin-left: -25px;
    z-index: 50;
    transition: 0.5s ease, width 0.5s, height 0.5s;

}

.imgcontainerswipebox4 img {
    width: 100%;
    height: 100%;

}

.swiperleftsbl4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: #00000023;
    left: 0px;
    transition: 0.4s;
    opacity: 0;
    z-index: 52;
    cursor: pointer;
    height: 150px;
    transform-style: preserve-3d;
}

.swiperrightsbl4 {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 150px !important;
    z-index: 52;
    background-color: #00000023;
    right: 50px;
    transition: 0.4s;
    opacity: 0;
    cursor: pointer;
    transform-style: preserve-3d;
}

.swiperleftsbl4 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
    transform: translateZ(-10px);

}

.swiperrightsbl4 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
    z-index: 51;
    transform: translateZ(-10px);
}

.swiperbox5 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin-bottom: 70px;
    transition: 1s ease;
    z-index: 50;
}

.swiperboxlayout5 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-bottom: 70px;
    position: relative;
    top: -110px;
    transition: 0.4s;
    z-index: 50;

}

.swiperboxlayout5:hover .swiperleftsbl5 {
    opacity: 1;
    display: flex;
}

.swiperboxlayout5:hover .swiperrightsbl5 {
    opacity: 1;
    display: flex;
}

.swiperbox5 div {
    position: relative;
    min-width: 231px;
    height: 130px;
    object-fit: contain;
    overflow: hidden;
    margin-right: 5px;
    transition: 0.5s ease;
}

.swiperbox5 div:hover {
    transition: 0.5s ease;
    min-width: 260px;
    height: 148px;
    margin-left: -5px;
    top: -5px;
    z-index: 10000;
    margin-right: -5px;
}

.swiperbox5 img {
    width: 100%;
    height: 100%;


}

.swiperleftsbl5 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: #00000023;
    left: 0px;
    transition: 0.4s;
    opacity: 0;
    z-index: 51;
    cursor: pointer;
}

.swiperrightsbl5 {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    z-index: 51;
    background-color: #00000023;
    right: 50px;
    transition: 0.4s;
    opacity: 0;
    cursor: pointer;
}

.swiperleftsbl5 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

.swiperrightsbl5 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

.swiperbox6 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin-top: 20px;
    transition: 1s ease;
    z-index: 50;
}

.swiperboxlayout6 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-bottom: 70px;
    position: relative;
    top: -105px;
    transition: 0.4s;
    z-index: 50;
}

.swiperboxlayout6:hover .swiperleftsbl6 {
    opacity: 1;
    display: flex;
}

.swiperboxlayout6:hover .swiperrightsbl6 {
    opacity: 1;
    display: flex;
}

.swiperbox6 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: 0.5s ease;

}

#imgcontainerswipebox6img1 {
    margin-left: -40px;
}

#top102:hover #imgcontainerswipebox6img1 {
    margin-left: -20px;
}

#top102:hover div {
    transition: 0.5s ease;
    min-width: 120px;
    height: 170px;
    margin-left: -5px;
    top: -5px;
    margin-right: 0px;
}

.swiperbox6 div h1 {
    display: flex;
    align-items: center;
    font-family: h1;
    font-size: 205px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: #353535 4px;
    font-weight: bolder;
    margin-right: 0px;
    z-index: 49;
    padding-bottom: 10px;

}

.imgcontainerswipebox6 {
    width: 110px;
    height: 160px;
    margin-left: -25px;
    z-index: 50;

}

.imgcontainerswipebox6 img {
    width: 100%;
    height: 100%;

}

.swiperleftsbl6 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: #00000023;
    left: 0px;
    transition: 0.4s;
    opacity: 0;
    z-index: 52;
    cursor: pointer;
    height: 150px;
    transform-style: preserve-3d;
}

.swiperrightsbl6 {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 150px !important;
    z-index: 52;
    background-color: #00000023;
    right: 50px;
    transition: 0.4s;
    opacity: 0;
    cursor: pointer;
    transform-style: preserve-3d;
}

.swiperleftsbl6 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
    transform: translateZ(-10px);

}

.swiperrightsbl6 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
    z-index: 51;
    transform: translateZ(-10px);
}

.swiperbox7 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin-bottom: 70px;
    transition: 1s ease;
    z-index: 50;
}

.swiperbox7 div:hover {
    transition: 0.5s ease;
    min-width: 260px;
    height: 148px;
    margin-left: -5px;
    top: -5px;
    margin-right: 0px;
}

.swiperboxlayout7 {
    width: 100%;
    height: 130px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-bottom: 70px;
    position: relative;
    top: -80px;
    transition: 0.4s;
    z-index: 50;

}

.swiperboxlayout7:hover .swiperleftsbl7 {
    opacity: 1;
    display: flex;
}

.swiperboxlayout7:hover .swiperrightsbl7 {
    opacity: 1;
    display: flex;
}

.swiperbox7 div {
    position: relative;
    min-width: 231px;
    height: 130px;
    object-fit: contain;
    overflow: hidden;
    margin-right: 5px;
    transition: 0.5s ease;
}

.swiperbox7 img {
    width: 100%;
    height: 100%;


}

.swiperleftsbl7 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: #00000023;
    left: 0px;
    transition: 0.4s;
    opacity: 0;
    z-index: 51;
    cursor: pointer;
}

.swiperrightsbl7 {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    z-index: 51;
    background-color: #00000023;
    right: 50px;
    transition: 0.4s;
    opacity: 0;
    cursor: pointer;
}

.swiperleftsbl7 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

.swiperrightsbl7 svg {
    fill: rgba(255, 255, 255, 0.674);
    width: 35px;
    height: 40px;
}

#footer {
    width: 100%;
    max-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 60px;
    margin-top: -110px;
}

#sociallogos {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

#sociallogos svg {
    margin-right: 10px;
    color: white;
}

#footerdescripton {
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;

}

#footerdescripton div {
    width: 150px;
    height: 15px;
    color: rgb(128, 128, 128);
    margin-right: 60px;
    font-size: 13px;
    margin-bottom: -50px;

}

#servicecode {
    width: 100px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    margin-left: 20px;
}

#copyright {
    font-size: 12px;
    color: rgb(128, 128, 128);
    margin-top: 10px;
    margin-left: 20px;
}
















@media (min-width:1000px) and (max-width:1130px) {

   #titledescription {

        top: 210px;
    }

    #titledescriptionlogo {
        top: -70px !important;

    }





}

@media (min-width:700px) and (max-width:1000px) {
    #navbarbrowselist {
        display: none;
    }

    #meadiaquerybrowse {
        display: flex;
    }

    #titledescription {

        top: 60px;
    }

    #titledescriptionlogo {
        top: -70px !important;

    }





}


@media (min-width:500px) and (max-width:700px) {
    #navbarbrowselist {
        display: none;
    }

    #meadiaquerybrowse {
        display: flex;
    }

    #titledescription {

        top: 20px;
    }

    #titledescriptionlogo {
        top: -70px !important;

    }




}

@media (max-width:600px) {
    .swiperrightsbl5 {
        right: 100px !important;
    }

    .swiperrightsbl1 {
        right: 100px !important;
    }

    .swiperrightsbl3 {
        right: 100px !important;
    }

    .swiperrightsbl4 {
        right: 100px !important;
    }

    .swiperrightsbl6 {
        right: 100px !important;
    }

    .swiperrightsbl7 {
        right: 100px !important;
    }



}

@media (max-width:580px) {
    .swiperrightsbl5 {
        right: 110px !important;
    }

    .swiperrightsbl1 {
        right: 110px !important;
    }

    .swiperrightsbl3 {
        right: 110px !important;
    }

    .swiperrightsbl4 {
        right: 110px !important;
    }

    .swiperrightsbl6 {
        right: 110px !important;
    }

    .swiperrightsbl7 {
        right: 110px !important;
    }



}

@media (max-width:560px) {
    .swiperrightsbl5 {
        right: 115px !important;
    }

    .swiperrightsbl1 {
        right: 115px !important;
    }

    .swiperrightsbl3 {
        right: 115px !important;
    }

    .swiperrightsbl4 {
        right: 115px !important;
    }

    .swiperrightsbl6 {
        right: 115px !important;
    }

    .swiperrightsbl7 {
        right: 115px !important;
    }



}

@media (max-width:540px) {
    .swiperrightsbl5 {
        right: 165px !important;
    }

    .swiperrightsbl1 {
        right: 165px !important;
    }

    .swiperrightsbl3 {
        right: 165px !important;
    }

    .swiperrightsbl4 {
        right: 165px !important;
    }

    .swiperrightsbl6 {
        right: 165px !important;
    }

    .swiperrightsbl7 {
        right: 165px !important;
    }

}
@media (max-width:650px) {
    #searchbar{

    }

}